<a href="https://colab.research.google.com/github/Chaitanya2304/ASSIGNMENT-2-1-/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [2]:
a = float(input("Enter First side:"))

b = float(input("Enter Second side:"))

c = float(input("Enter Third side:"))

s = (a+b+c)/2

area = (s*(s-a)*(s-b)*(s-c))**0.5

print("Area of Triangle=",area)

Enter First side:20
Enter Second side:30
Enter Third side:60
Area of Triangle= (3.003663170626034e-14+490.53542175871456j)

2. Take a string from end user and check if the value is palindrome or not.

In [3]:
s=input("Enter a string:")

if(s==s[::-1]):

    print("Given string {} is palindrome".format(s))

else:

    print("Given string {} is not palindrome".format(s))

Enter a string:dad
Given string dad is palindrome

3. Write a program that reads a year from the user and displays a message indicating whether year is leap year or not.

In [4]:
year=int(input("Enter the year:"))

if(year%4==0 and year%100!=0 or year%400==0):

    print("{} The entered year is leap year".format(year))

else:

    print("{} The entered year is not a leap year".format(year))

Enter the year:2016
2016 The entered year is leap year

4. Space to Hyphen problem

Take a string as input, and replaces spaces " " with hyphens "-", and returns a string.

Input: "This program converts spaces into hyphen"

Output: "This-program-converts-spaces-into-hyphen

In [23]:
n=input("Enter a string : ")

print(n.replace(' ','-'))

Enter a string : This program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

5. Unique Sort Problem.

Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).

Input: orange,white,red,cyan,green,magenta,cyan,pink,white

Output: cyan,green,magenta,orange,pink,red,white

In [6]:
Input = input("Enter the words:").split(",")

words = list(set(Input))

words.sort()

print("Unique words in sorted form:",str(words))

Enter the words:orange,white,red,cyan,green,magenta,cyan,pink,white
Unique words in sorted form: ['cyan', 'green', 'magenta', 'orange', 'pink', 'red', 'white']

6. Tax Calculator

Ask the user for their monthly salary. Calculate whether they have to pay tax and if so,

how much is that amount .Print the result.

In [7]:
salary=int(input("Enter the salary : "))

if (salary>=0) and (salary<=250000):

    tax=(salary*0)

elif (salary>250000) and (salary<=500000):

    tax=(salary*0.05)

elif (salary>500000) and (salary<=750000):

    tax=(salary*0.1)

elif (salary>750000) and (salary<=1000000):

    tax=(salary*0.15)

elif (salary>1000000) and (salary<=1250000):

    tax=(salary*0.2)

elif (salary>1250000) and (salary<=1500000):

    tax=(salary*0.25)

else:

    tax=(salary*0.3)

print("Tax is : ",tax)

Enter the salary : 5000000
Tax is :  1500000.0

7. Take a list of integers as an argument, and converts it into a single integer (return the integer).
input:[11,33,50]

output:113350

In [8]:
l=[11,33,50]

for i in l:

  print(i,end="")

113350

8. Units of Time

Create a program that reads duration from the user as a number of days, hours, minutes, and seconds.

Compute and display the total number of seconds represented by this duration.

In [9]:
seconds_per_minute = 60

seconds_per_hour = 3600

seconds_per_day = 86400

days = int(input("Enter no. of days"))

hours = int(input("Enter no. of hours"))

minutes = int(input("Enter no. of minutes"))

seconds = int(input("Enter no. of seconds"))

total_seconds = days*seconds_per_day

total_seconds = total_seconds+(hours*seconds_per_hour)

total_seconds = total_seconds+(minutes*seconds_per_minute)

total_seconds = total_seconds+seconds

print("Total seconds =",total_seconds)

Enter no. of days300
Enter no. of hours20
Enter no. of minutes50
Enter no. of seconds30
Total seconds = 25995030

9. Sort 3 integers

Given three integers (given through user input), sort the numbers using |min| and |max| functions.

In [10]:
a=int(input("Enter the number of a:"))

b=int(input("Enter the number of b:"))

c=int(input("Enter the number of c:"))

d=min(a,b,c)

e=max(a,b,c)

f=(a+b+c)-d-e

print("The Sorted order is:",d,f,e)

Enter the number of a:9
Enter the number of b:5
Enter the number of c:7
The Sorted order is: 5 7 9

10.Write a program that reads a date from the user and computes its immediate successor.The date is the format YYYY-MM-DD. So, 2020-04-15

will have the successor 2020-04-16.

In [11]:
year=int(input("Enter a year : "))

if year%400== 0:

    leapyear=True

elif year%100==0:

    leapyear=False

elif year%4==0:

    leapyear=True

else:

    leapyear=False

month=int(input("Enter a month between 1 to 12 : "))

if month in (1, 3, 5, 7, 8, 10, 12):

    monthlength=31

elif month==2:

    if leapyear:

        monthlength=29

    else:

        monthlength=28

else:

    monthlength=30

day=int(input("Enter a day between 1 to 31 : "))

if day<monthlength:

    day+=1

else:

    day=1

    if month==12:

        month=1

        year+=1

    else:
      month+=1

print("The immediate successor is YYYY-MM-DD : %d-%d-%d." %(year,month,day))

Enter a year : 2001
Enter a month between 1 to 12 : 4
Enter a day between 1 to 31 : 23
The immediate successor is YYYY-MM-DD : 2001-4-24.

11. Compute product of a list of numbers [45,3,2,89,72,1,10,7]

Output: 121111200

In [12]:
list=[45,3,2,89,72,1,10,7]

n=1

for i in range(len(list)):

    n=n*list[i]

print(n)

121111200



12. Compute given Num_list=[5,6,8,34,89,1] to get desired output.

Output : Out_list=[11,14,42,123,90]

In [13]:
l=[5,6,8,34,89,1]

Out_list=[]

for i in range(len(l)-1):

    ol=l[i]+l[i+1]

    Out_list.append(ol)

print("Out_list=",Out_list)

Out_list= [11, 14, 42, 123, 90]

13. Compute given Num_tuple=(5,6,8,3,9,1) to get desired output.

Output : Out_list=[5,30,240,720,6480,6480]

In [14]:
Num_tuple = (5,6,8,3,9,1)

l = []

m = 1

for i in range(len(Num_tuple)):

    m = m*Num_tuple[i]

    l.append(m)

print(l)

[5, 30, 240, 720, 6480, 6480]

14. Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2].

In [15]:
number=input("Enter a number: ")

list=[]

for n in range(len(number)):

    list.append(number[n])

print(list)

Enter a number: 23042001
['2', '3', '0', '4', '2', '0', '0', '1']

15. Write a program that finds the longest palindromic substring of a given string.

In [16]:
def longestpalindrome(n):

    d=[[False for i in range(len(n))] for i in range(len(n))]

    for i in range(len(n)):

        d[i][i]=True

    maxlen=1

    start=0

    for j in range(2,len(n)+1):

        for i in range(len(n)-j+1):

            end=i+j

            if j==2:

                if n[i]==n[end-1]:

                    d[i][end-1]=True

                    maxlen=j

                    start=i

            else:

                if n[i]==n[end-1] and d[i+1][end-2]:

                    d[i][end-1]=True

                    maxlen=j

                    start=i

    return n[start:start+maxlen]

n=input("Enter a string : ")

print(longestpalindrome(n))

Enter a string : chaitanya
c

16. Substring Check (Bug Funny)

Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.

First two lines of input:

1010110010 10110

1110111011 10011

First two lines of output:

1
0

In [19]:
def check(A, B): 

    if (A.find(B) == -1): 

        print("Output=0") 

    else: 

        print("Output=1")


A = input("Enter a binary string of length 10:")

B =input("Enter a binary string of length 5:")

check(A, B)

Enter a binary string of length 10:9381343687
Enter a binary string of length 5:12345
Output=0

17 POUR1-pouring water

given two vessel,one of which can accommodate a liters of water and the other -b liters of water ,determine the number of steps required to obtain exactly c liters of water in one of the vessels At the beginning both vessels are empty.the following operations are counted as 'steps': emptying a vessel, filling a vessel, pouring water from one vessel to the other,without spilling,until one of the vessels is either full or empty. INPUT an integer t, 1<=t<=100,denoting the number of testcases,followed by t sets of input data,each consisting of three positive integers a,b,c not larger than 40000, given in seperate lines. OUTPUT For each set of input data,output the minimum number of steps required to obtain c liters,or -1 if this is impossible

In [22]:
t=int(input("number of test case"))

for i in range(t):

  a,b,c=map(int,input("enter a b c").split())

  if a>b:

    d=a-b

  elif a<b:

    d=b-a

  if c==a or c==b:

    print("1")

  elif d==c:

    print("2")

  else:

    print("-1")

number of test case2
enter a b c5 2 3
2
enter a b c1 2 3
-1